@open-sans-family: 'Open Sans', sans-serif;
@myriad-font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
@ralewey-font-family: 'Raleway', sans-serif;

@orange: #ff9b51;
@grey: #646464;
@grey-light: #f5f5f5;

@phone-down: ~'(max-width: 576px)';

@supports (-ms-ime-align:auto) {
  .section__hr, .hr-orange {
    text-align: left;
  }
  .header-form__legend {
    width: 100%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section__hr, .hr-orange {
    text-align: left;
  }

  .header-form__legend {
    width: 100%;
  }

  .form__textarea {
    overflow: hidden;
  }

}


.container {
  width: 1110px;
  margin: 0 auto;
  @media @phone-down { width: 100% }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.section__title {
  font: 400 36px @ralewey-font-family;
  text-transform: uppercase;

}
.section__hr {
  width: 65px;
  height: 2px;
  background-color: #fff;
  margin: 40px 0 40px 2px;
  @media @phone-down { margin: 5px 0 }
}

.section__text {
  font: 300 16px @ralewey-font-family;
  line-height: 23px;
  margin-bottom: 40px;
}

.section__button {
  width: 135px;
  height: 42px;
  background: none;
  border: 2px solid #f5f5f5;
  color: inherit;

  &:hover {
    background: #ff8b38;
  }
}

.button_orange {
  width: 121px;
  height: 46px;
  background: #ff8b38;
  font: 600 15px @open-sans-family;
  line-height: 20px;
  color: #fff;
  border-radius: 3px;

  &:hover {
    background: red;
  }
}

.block__title {
  font: 700 20px @open-sans-family;
}

.hr-orange {
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
}

.text-grey {
  font: 400 14px @open-sans-family;
  line-height: 20px;
  color: #86878b;
}

.features__img {
  box-shadow: 0 0 20px #bfbfbf;
  @media @phone-down { width: 80% }
}

.section-header {
  padding-top: 100px;
  text-align: center;

  .section-header__title {
    font: 400 36px @ralewey-font-family;
    line-height: 43px;
    text-transform: uppercase;
    color: #212121;
  }

  .section-header__hr {
    .hr-orange();
    margin: 30px auto;
  }

  .section-header__text {
    .text-grey();
  }
}

.form__input {
  height: 31px;
  width: 525px;
  padding-left: 14px;
  background: #fff;
  font: 400 14px 'Open Sans', sans-serif;
  border-left: 1px solid #fbfbfb;
  border-bottom: 1px solid #d6d6d6;
  @media @phone-down { width: 100% }

  &::placeholder {
    color: #bdbdbd;
  }

  &:hover {
    background: yellow;
    border-radius: 15px;
  }

  &:focus {
    background: greenyellow;
    border-radius: 15px;
  }

  &:active {
    background: red;
    border-radius: 15px;
  }

}

.icon:hover {
  transition: transform 2s;
  transform: rotate(180deg);
}

.text-block {
  @media @phone-down { width: 90% }
}
