.navbar {
  background: #37495e;
  position: absolute;
  width: 100%;

  //.container {
  //  padding: 0 45px;
  //}

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    max-width: 190px;
  }

  .main-menu {
    .flex-container();

    a {
      display: block;
      font: 600 14px @open-sans-family;
      line-height: 60px;
      color: #fff;
      padding: 0 30px;

      &:hover {
        background: @orange;
      }
    }
  }

}
