.navbar {
  background: #37495e;
  position: absolute;
  width: 100%;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {

    .logo__title {
      font-size: 0px;
    }

    .logo__img {
      max-width: 190px;
    }

  }

  .main-menu {
    .flex-container();

    &__item {
      display: block;
      font: 600 14px @open-sans-family;
      line-height: 60px;
      color: #fff;
      padding: 0 30px;

      &_last {
        padding-right: 0;

        &:hover {
          padding-right: 30px;
        }
      }

      &:hover {
        background: @orange;
      }

    }

    //&__item_last {
    //  padding-right: 0;
    //}

  }



  .main-menu:hover .submenu {
    display: flex;
  }

}
