.parallax {
  background: url("../img/parallax.png");
  color: #fff;
  text-align: center;

  .section__title {
    padding-top: 70px;
  }

  .section__hr {
    margin: 25px auto;
  }

  .section__text {
    line-height: normal;
    margin-bottom: 35px;
  }

  .section__button {
    margin-bottom: 63px;
  }
}
