.standard-picture {
  background: #f5f5f5;
  padding: 89px 0 131px;

  .block__title {
    text-transform: capitalize;
  }

  .hr-orange {
    margin: 30px 0;
  }

  .text-grey {
    padding-bottom: 20px;
    width: 490px;
  }

  .features__img {
    margin-right: -25px;
  }
}
